*.o
*.so
*.d
*.pcm
obj
build_*
build
Makefile
bin
html
latex
lib
*.hh~
*.h~
*.C~
*.cc~
*.cxx~
*.py~
*.txt~
*.pro~
*.pri~
*.doxy~
*.cfg~
*.sh~
*.cbk~
*.xcodeproj
*.pro.user
*.pyc
*.qtlist
*.list
*.acqt
*.exe
*.pptx
moc_*
*#*
CMakeLists.txt.user
.qmake.cache
.qmake.stash
.DS_Store
!testing/*.qtlist
!testing/*.list
!testing/*.root
!testing/*.acqt
*.npz
*.swp
*.pdf
